<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xkx.mapper.ArticleMapper">
    <select id="selectMax" resultType="Integer">
        select MAX(aid) from article
    </select>
    <insert id="addArticle" parameterType="article">
        insert into article values (#{aid},#{title},#{content},#{uid},#{time},#{comment},#{praise},#{read})
    </insert>

    <select id="selectArticle" parameterType="Integer" resultType="article">
        select * from article where uid=#{uid}
    </select>

    <select id="selectArticleDetail" parameterType="Integer" resultType="article">
        select * from article where aid=#{aid}
    </select>

    <update id="articleReadPlus" parameterType="Integer">
        UPDATE article set `read`=`read`+1 where aid=#{aid}
    </update>

    <update id="praise" parameterType="Integer">
        UPDATE article set `praise`=`praise`+1 where aid=#{aid}
    </update>

    <update id="comment" parameterType="Integer">
        UPDATE article set `comment`=`comment`+1 where aid=#{aid}
    </update>

    <select id="selectAllArticle" resultMap="article-god">
        select * from article inner join god on god.id=article.uid
    </select>

    <select id="selectArticleAndGodByUid" parameterType="Integer" resultMap="article-god">
        select * from article inner join god on god.id=article.uid where Uid=#{uid}
    </select>
    <resultMap id="article-god" type="article">
        <id property="aid" column="aid"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="time" column="time"></result>
        <result property="comment" column="comment"></result>
        <result property="praise" column="praise"></result>
        <result property="read" column="read"></result>
        <association property="god" javaType="god">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="headImg" column="headImg"></result>
            <result property="email" column="email"></result>
            <result property="url" column="url"></result>
            <result property="introduction" column="introduction"></result>
        </association>
    </resultMap>

    <delete id="deleteArticle" parameterType="Integer">
    delete article,comment,reply from article LEFT JOIN comment on article.aid=comment.aid LEFT JOIN reply on comment.cid=reply.cid  where article.aid=#{aid}
    </delete>

    <update id="updateArticle" parameterType="article">
        update article set title=#{title},content=#{content} where aid=#{aid}
    </update>
</mapper>